<%= stylesheet_link_tag('articleIndex')%>
 
<div class="container-fluid">
	<div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-6"><br>
	  	<div class="card">
	  		<div class="card-body">
	  			<%= form_with model: @user_logs do |f| %>

<div>
	<%= f.label :username %><br>
	<%= f.text_field :username, class: "form-control"  %>
</p>

<p>
	<%= f.label :email %><br>
	<%= f.email_field :email, class: "form-control"  %>
</p>

<p>
	<%= f.label :password %><br>
	<%= f.password_field :password, class: "form-control"  %>
</p>


<div>
	<%= f.submit(@user_log.new_record? ? "Sign Up" : "Update Account", class: "btn btn-outline-info") %>
    <%= link_to 'Return To Articles list', articles_path, class: "btn btn-outline-success" %>
</div>


<% end %>
	  		</div>

	  	</div>

	  </div><br>

	</div>
	  <div class="col-md-3"></div>
    </div>
</div>	