<div class="container-fluid"><br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <% if flash[:success] %>
        <div class="alert alert-success">
          <span><%= flash[:success] %></span>
        </div>
      <% end %>
  </div>
</div>
<h1 class="text-center mt-4">
	<%= @user_log.username %>'s Profile
</h1>
     <%= gravatar_for @user_log, size: 200 %>
     
     <% if logged_in? && @user_log == current_user %>
     <div class="text-center mt-4">
     	  <%= link_to "Edit Your Profile", edit_user_log_path(@user_log), class: "btn btn-outline-info" %>
     </div>
      <% end %>

<h3 class="text-center mt-4">Articles</h3>

<div class="flickr_pagination md-4">
    <%= will_paginate @articles, :container => false %>
</div>


<%= render 'articles/article' %>

<div class="flickr_pagination md-4">
    <%= will_paginate @articles, :container => false %>
</div>
