<%= stylesheet_link_tag('articleIndex')%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><br>
      <h2><center>Edit Article</center></h2><br>
      <div class="card">
        <div class="card-body">
          <%= form_with model: @article do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title,class: "form-control" %>
  </p>

   <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control" %>
   </p>
   

  <%= form.submit 'Update Article', class: "btn btn-danger" %>
  <%= link_to 'Return To Articles list', articles_path, class: "btn btn-success" %>

</div>
    
  </div>
<% end %>
        </div>
      </div>

    </div>
    <div class="col-md-4"></div>
    </div>
</div>  