<%= stylesheet_link_tag('articleIndex')%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><br>
      <h2><center>Edit Article</center></h2><hr>
      <div class="card">
        <div class="card-body">
          <%= form_with model: @article do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title,class: "form-control" %>
  </p>

   <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control" %>
   </p>

    <p>         <%= form.label :Categories%><br>
            <%= form.collection_select(:category_ids, Category.all, :id, :name,
            { prompt: "Make your selection from the list below (can be empty)"}, { multiple: true, size: 3, class: "custom-select form-control" }) %>
</p>
    
    


  <%= form.submit 'Update Article', class: "btn btn-outline-info" %>
  <%= link_to 'Return To Articles list', articles_path, class: "btn btn-outline-success" %>

</div>
    
  </div>
<% end %>
        </div>
      </div>

    </div>
    <div class="col-md-4"></div>
    </div>
    
  
</div>  