<%= stylesheet_link_tag('articleIndex')%>
<%= stylesheet_link_tag('custom')%>
<div class="container-fluid"><br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3">
     <% if flash[:notice] %>
        <div class="alert alert-success">
          <span><%= flash[:notice] %></span>
        </div>
      <% end %>

  </div>
</div>

<div id="page-content">
	<div class="row">
		<div class="col-md-2"></div>

	<div class="col-md-8"><br>
<h2><center>Articles List</center></h2><br>


<div class="flickr_pagination md-4">
    <%= will_paginate @articles, :container => false %>
</div>

<br>

<%#= will_paginate @articles %>
<% @articles.each do |article| %>
    <div class="card text-center">
        <div class="card-header font-italic">
          <% if article.user_log %>
             by <%= link_to  article.user_log&.username, user_log_path(article.user_log) %>
          <% end %>
          <div >
               <% if article.categories.any? %>
                      <div class="mt-2"><%= render article.categories %></div> 
                  <% end %>
          </div>
          <%#= article.user_log&.username %>
        </div>
        <div class="card-body">
         <p class="card-title"><%= link_to article.title, article, class: "text-secondary link-success"%></p>
          <p class="card-text"><%= truncate(article.description,length:50) %></p>
          <div class="d-flex align-items-center justify-content-md-center">
             <%= link_to 'View', article_path(article) , class: "btn btn-outline-success" %> &nbsp

            <% if logged_in? && ( article.user_log == current_user || current_user.admin?) %>

              <%= link_to 'Edit', edit_article_path(article) , class: "btn btn-outline-info" %>

              <%= button_to 'Delete', article_path(article),method: :delete, class:"btn btn-outline-danger ms-2" %>
             </div>
            <% end %>

        </div>

        <div class="card-footer text-muted">
          <small>Created <%=  time_ago_in_words(article.created_at) %> ago,              
          edited <%= time_ago_in_words(article.updated_at) %> ago
      </small>
   </div>
<% end %>


	</div>
	<div class="col-md-2"></div>
	</div>
</div>

</div>
</div><br>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<br>